*.csv
*.pth
code/saved
code/wandb
code/__pycache__
data
mmseg

__pycache__/
*.py[cod]

mmsegmentation/work_dirs

custom_dataset
Swin-Transformer-Semantic-Segmentation/wandb

mmsegmentation/out
mmsegmentation/wandb

outputs
custom_test_dataset
*.jpg
mmsegmentation/output
mmsegmentation/nohup.out

