*.csv
*.pth
code/saved
code/wandb
code/__pycache__
data

__pycache__/
*.py[cod]

mmsegmentation/work_dirs
mmsegmentation/out
mmsegmentation/wandb
mmsegmentation/output
mmsegmentation/output2
mmsegmentation/nohup.out
mmseg
Swin-Transformer-Semantic-Segmentation