*.csv
*.pth
code/saved
code/wandb
code/__pycache__
data
mmseg

__pycache__/
*.py[cod]

mmsegmentation/work_dirs
mmsegmentation/out
mmsegmentation/wandb
*.jpg
mmsegmentation/output
mmsegmentation/nohup.out

